@model MvcOtobusBiletleme.Models.Siniflar.CalisanType 
@{
    ViewBag.Title = "CalisanTypeGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Çalışan Tip Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("CalisanTypeGuncelle", "CalisanType", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ID)
    @Html.LabelFor(x => x.TipAd)
    @Html.TextBoxFor(x => x.TipAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Durum)
    @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>
}