@model MvcOtobusBiletleme.Models.Siniflar.KalkisSehir
@{
    ViewBag.Title = "KalkisSehirGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Kalkış Yapılacak Olan Şehri Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("KalkisSehirGuncelle", "KalkisSehir", FormMethod.Post))
{
    @Html.Label("Kalkış Şehir")
    @Html.TextBoxFor(x => x.KalkisSehirAd, new { @class = "form-control" })
    @Html.HiddenFor(x => x.ID)
    <br />
    @Html.LabelFor(x => x.Durum)
    @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>
}