@using MvcOtobusBiletleme.Models.Siniflar;
@model List<Calisanlar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>Personel</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>Adres</th>
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>
        <th>Personel Tipi</th>
        <th>Şube Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var u in Model)
    {
<tr>
    <td>@u.Ad @u.Soyad</td>
    <td>@u.Telefon</td>
    <td>@u.Email</td>
    <td>@u.EvAdres</td>
    <td>@u.KullaniciAd</td>
    <td>@u.Sifre</td>
    <td>@u.CalisanType.TipAd</td>
    <td>@u.Subeler.SubeAd</td>
    <td>
        <a href="/Calisanlar/CalisanlarSil/@u.ID" class="btn btn-danger">Sil</a>
    </td>
    <td>
        <a href="/Calisanlar/CalisanlarGetir/@u.ID" class="btn btn-success">Güncelle</a>
    </td>
</tr>
    }
</table>
<a href="/Calisanlar/YeniCalisanlar/" class="btn btn-info">Yeni Personel Ekle</a> <td>~</td>
<a href="/Subeler/Index/" class="btn btn-info">Yeni Şube Ekle</a>